<app-app-nav></app-app-nav>
<div class="container-fluid login-page">


    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form" >  
             <span *ngIf="isEdit" class="close-icon" routerLink='/list'> <i  class="fa fa-times" aria-hidden="true" ></i></span>
     
              <h2 class="text-center">{{isEdit ? 'Update your details' : 'Register With us'}}</h2>
     
          <input type="text" name="name" formControlName="name" placeholder="name"/>
            <input type="email" name="email" formControlName="email" placeholder="Email"/>
            <input *ngIf="!isEdit" type="password" name="password" formControlName="password" placeholder="Password"/>
            <input type="text" name="mobileNumber" formControlName="mobileNumber" placeholder="Mobile"/>
            <input type="text" name="address" formControlName="address" placeholder="Address"/>
            <input type="text" name="qualification" formControlName="qualification" placeholder="Qualification"/>
  
            <div class="alert alert-danger" *ngIf="errorMessage" role="alert">
                {{errorMessage}}
              </div>
            <button class="btn btn-primary btn-block" type="submit" [disabled]='!registerForm.valid'>{{isEdit ? 'Update Details' :'Register' }}</button>
             
          
          
          </div>
        </form>
  </div>
