<app-app-nav></app-app-nav>
<div class="example-container">
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!--SNO Column-->
      <ng-container matColumnDef="SNO">
          <th mat-header-cell *matHeaderCellDef> S.No </th>
          <td mat-cell *matCellDef="let element; let i=index">{{i+1}} </td>
        </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> <span style="text-transform: capitalize;">{{element.name}}</span> </td>
    </ng-container>
  
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
  
    <!-- Mobile NO Column -->
    <ng-container matColumnDef="mobileNumber">
      <th mat-header-cell *matHeaderCellDef> Mobile Number </th>
      <td mat-cell *matCellDef="let element"> {{element.mobileNumber}} </td>
    </ng-container>
  
    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>
    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef> Qualification </th>
      <td mat-cell *matCellDef="let element"> {{element.qualification}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"><button routerLink="{{'/create/' + element._id}}" class="btn btn-primary" >Edit</button><button class="btn btn-danger" (click)="delete(element)">Delete</button> </td>
    </ng-container>
   
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

  <div *ngIf="emptyflag" class="no-records"><h2>No records found</h2></div>

  </div>
